body{
background:#d9edf7;
font-family:Arial,sans-serif;
}

.mixtape-container{
display:flex;
justify-content:center;
padding:50px 20px;
}

.mixtape-card{
width:850px;
background:#fff8ef;
padding:35px;
border-radius:35px;
box-shadow:0 20px 50px rgba(0,0,0,.12);
}

.mixtape-title{
font-size:52px;
text-align:center;
margin-bottom:25px;
}

.cassette{
background:#dff2ff;
padding:35px;
border-radius:30px;
position:relative;
margin-bottom:30px;
}

.sticker{
position:absolute;
font-size:34px;
}

.flower{
left:25px;
top:25px;
}

.star{
right:25px;
bottom:20px;
}

.tape{
width:320px;
height:180px;
background:#2f3640;
margin:auto;
border-radius:22px;
position:relative;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.tape-label{
position:absolute;
top:18px;
left:50%;
transform:translateX(-50%);
background:#fff8dc;
padding:10px 30px;
border-radius:8px;
font-weight:bold;
}

.reel{
width:55px;
height:55px;
background:#555;
border-radius:50%;
position:absolute;
bottom:32px;
animation:spin 8s linear infinite;
}

.left{
left:55px;
}

.right{
right:55px;
}

.hole{
width:16px;
height:16px;
background:white;
border-radius:50%;
margin:20px auto;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

input,
select{
width:100%;
padding:16px;
margin-bottom:16px;
border:none;
border-radius:18px;
font-size:16px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

button{
border:none;
cursor:pointer;
font-weight:bold;
transition:.25s;
}

button:hover{
transform:translateY(-3px);
}

.blue-btn{
width:100%;
padding:16px;
background:#4a90e2;
color:white;
border-radius:16px;
margin-bottom:15px;
}

.green-btn{
width:100%;
padding:16px;
background:#34c759;
color:white;
border-radius:16px;
margin-bottom:15px;
}

.orange-btn{
width:100%;
padding:16px;
background:#ffb020;
color:white;
border-radius:16px;
margin-bottom:15px;
}

.red-btn{
width:100%;
padding:16px;
background:#ff5a5f;
color:white;
border-radius:16px;
margin-bottom:15px;
}

.song-row{
display:flex;
gap:15px;
}

.spotify-card,
.saved-card,
.playlist-card{
background:white;
padding:18px;
border-radius:18px;
box-shadow:0 8px 20px rgba(0,0,0,.08);
margin-bottom:15px;
display:flex;
align-items:center;
justify-content:space-between;
gap:15px;
}

.album-cover{
width:70px;
height:70px;
border-radius:15px;
object-fit:cover;
}

.spotify-info{
flex:1;
}

.add-btn{
width:46px;
height:46px;
border-radius:50%;
background:#7c6cff;
color:white;
font-size:26px;
}

.small-open{
background:#34c759;
color:white;
padding:8px 15px;
border-radius:10px;
}

.small-delete{
background:#ff5a5f;
color:white;
padding:8px 15px;
border-radius:10px;
}

.small-share{
background:#4a90e2;
color:white;
padding:8px 15px;
border-radius:10px;
}

.favorite{
font-size:24px;
}

.result-box{
margin:20px 0;
padding:18px;
background:#eef6ff;
border-radius:15px;
font-weight:bold;
text-align:center;
}

.search-box{
margin:15px 0;
}

.playlist h3{
margin-bottom:15px;
}